


<div class="card">
  <div class="card-body">
    <h4 class="card-title">Business Chart</h4>
    <h6 class="card-subtitle">Vestibulum purus quam scelerisque, mollis nonummy metus</h6>

  <div class="pie_chart_sec_1">
    <div class="main_chart">
      <google-chart [data]="pieChart"></google-chart>
    </div>
    <div class="chart">
      <div class="chart_container" >
        <div class="data_chart" *ngFor="let data of pieChart.dataTable  | slice:1; let i = index">
          <div class="data_chart_text">
            <span class="data_chart_color" [style.background]="pieColors.colors[i]">
        
            </span>
            <span class="data_chat_legend">
              {{ data[0] }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="pie_chart_sec_2">
    <google-chart [data]="pieChart2"></google-chart>
    <div class="chart">
      <div class="data_chart" *ngFor="let data of pieChart2.dataTable  | slice:1; let i = index">
        <div class="data_chart_text">
          <span class="data_chart_color" [style.background]="pieChart2.options.colors[i]">
    
          </span>
          <span class="data_chat_legend">
            {{ data[0] }}
          </span>
        </div>
      </div>
    </div>
  </div> -->