@import "../../../../../assets/scss/scss-imports";

.empty-state-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    i {
        font-size: 10em;
    }

    a {
        color: white;
        width: 300px;
    }
}

.education-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .page {
        width: 70%;
        .page-header {
            display: flex;
            justify-content: space-between;
            h3, a {
                color: $text-main-color;
            }
        }
        .page-body {
            display: flex;
            flex-direction: column;
            .card {
                margin: 20px 0px;
                border-radius: 8px;
            }
        }
    }
}

.card-body {
    // padding: 0px !important;
    .card-title {
        color: $text-main-color;
        font-weight: 500;
    }
    .create_educ_btn {
        margin-top: 10px;
        width: 100%;
        color: $white;
        font-size: 1.1rem;
    }
}
.n-mb {
    margin-bottom: 0px !important;
}

.btn-icon.btn-danger {
    background: transparent;
    color: $red;
    border: none;
    transition: .1s;
}
.btn-danger:hover {
    background: transparent;
    color: rgb(255, 0, 0);
    border: none;
    transition: .1s;
}



.content__title {
    margin-bottom: 1rem;
}
.checkbox {
    padding-left: 10px !important;
    width: 100%;
    .listview__content {
        .listview__heading {
            font-size: 1.5rem;
            color: $navigation-link-color;
        }
        .progress_bar {
            width: 90%;
            height: 13px;
            margin:7px 0px;
        }
    }
}
.dropdown-menu {
    li {
        width: 100%;
        padding-left: 20px;
        a {
            text-align: left;
            margin: 0 auto;
            min-width: 50%;
            color: $navigation-link-color;
            i {
                .link_text {
                    font-family: $font-family-sans-serif !important;
                    margin-left: 7px;
                }
            }
        }
    }
}
.card-subtitle {
    i {
        font-size: 1.4rem;
        -webkit-text-stroke: .3px white;
        position: relative;
        top: 2.5px;
    }
}
@media (max-width: 481px)  {
    .listview__item {
        padding: 1.25rem 1.3rem !important;
        .checkbox {
            padding-left: 0px !important;
        }
    } 
    .content__title {
        padding: 1rem 0px 0px 0px !important;
    }
    .empty-state-container {
        text-align: center;

    a {
        color: white;
        width: 80%;
    }
    }
}