<div class="card-list">
  <h4 class="card-title">Photos</h4>
    <h6 class="card-subtitle">All the recent photos will be posted here.</h6>
  <div class="card">
    <img class="card-img-top" src="./assets/demo/img/headers/6.png">

    <div class="card-body">
      <h4 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
      <h6 class="card-subtitle">06/22/2012</h6>

      <p class="card-text">Duis ut quam nec mi bibendum finibus et id tortor. Maecenas tristique dolor enim, sed
        tristique sem cursus et. Etiam
        tempus iaculis blandit. Vivamus a justo a elit bibendum pulvinar ut non erat. Cras in purus sed leo mattis
        consequat
        viverra id arcu.</p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="./assets/demo/img/headers/5.png">

    <div class="card-body">
      <h4 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
      <h6 class="card-subtitle">06/22/2012</h6>

      <p class="card-text">Duis ut quam nec mi bibendum finibus et id tortor. Maecenas tristique dolor enim, sed
        tristique
        sem cursus et. Etiam
        tempus iaculis blandit. Vivamus a justo a elit bibendum pulvinar ut non erat. Cras in purus sed leo mattis
        consequat
        viverra id arcu.</p>
    </div>
  </div>
</div>