<div class="empty-state-container" *ngIf="achievementSrv.achievementItems.length <= 0; else listItems">
    <i class="fas fa-box-open"></i>
    <p>You don't have any achievements yet.</p>
    <a class="btn content__background__theme" [routerLink]="'/my/achievements/insertMany'">Add to your Achievements</a>
</div>

<ng-template #listItems>
    <div class="content__inner">
        <header class="content__title">
            <h1>{{ pageTitle }}</h1>
            <small>{{ pageSubTitle }}</small>
        </header>

        <div class="row todo">
            <div class="col-md-8">
                <div class="card">
                    <div class="listview listview--bordered" cdkDropList (cdkDropListDropped)="drop($event)">

                        <div *ngFor="let achievement of achievementSrv.achievementItems; let i = index;" class="listview__item" cdkDrag>
                            <div class="text-muted" cdkDragHandle>
                                <i class="fa fa-bars"></i>
                            </div>

                            <div class="checkbox checkbox--char todo__item">

                                <div class="listview__content">
                                    <div class="listview__heading content__title__text">{{ achievement.achievementName }}
                                    </div>
                                    <p>{{ achievement.dateStarted | date:'mediumDate'}} {{ achievement.dateFinished != null && achievement.dateFinished != '' ? '-' : ''}}
                                        {{ achievement.dateFinished | date:'mediumDate' }}</p>
                                </div>

                                <div class="">
                                    <span><i>{{ achievement.achievementDescription }}</i></span>
                                </div>
                            </div>

                            <div class="listview__actions task-more-actions">
                                <div class="btn-group" dropdown>
                                    <button dropdownToggle type="button" class="btn"><i class="fas fa-ellipsis-v"
                                            aria-controls="dropdown-basic"></i></button>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                                        <li role="menuitem">
                                            <button class="dropdown-item" routerLink="{{'/my/achievements/update/' + achievement._id}}">Edit</button>
                                        </li>
                                        <li role="menuitem">
                                            <button class="dropdown-item" (click)="deleteAchievement(achievement._id)">Delete</button>
                                        </li>
                                        <li role="menuitem">
                                            <button class="dropdown-item" (click)="markProtectedUnprotected(achievement._id)">{{achievement.isProtected ? 'Mark as Unprotected' : 'Mark as Protected'}}</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title content__title__text">{{ achievementTitle }}</h4>
                        <h6 class="card-subtitle">{{ achievementsLabelSubTitle }}</h6>

                        <a [routerLink]="'/my/achievements/insertMany'" class="btn create_educ_btn content__background__theme">Add
                            Achievements</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
