<h5 class="mb-4 text-uppercase"><i class="fa fa-code-fork" aria-hidden="true"></i>


  Projects</h5>

<ul class="list-unstyled timeline-sm">
  <li class="">
    <div class="timeline-sm-item">

      <div class="text_container">
        <h5 class="mt-0 mb-1">App design and development</h5>
        <span class="timeline-sm-date">01/01/2015 - 10/15/2018</span>
        <p  class="status">Work in Progress</p>
        <p>Duis ut quam nec mi bibendum finibus et id tortor. Maecenas tristique dolor enim, sed
        tristique sem cursus et. Etiam
        tempus iaculis blandit. Vivamus a justo a elit bibendum pulvinar ut non erat. Cras in purus sed leo mattis
        consequat
        viverra id arcu.</p>
        <p class="text-muted mt-2">Halette Boivin</p>
      </div>
        
      <div class="image_container">
        <img class="" src="./assets/demo/img/headers/6.png">
      </div>
    </div>

  </li>
  <li class="">
    <div class="timeline-sm-item">
    
      <div class="text_container">
        <h5 class="mt-0 mb-1">Coffee detail page - Main Page</h5>
        <span class="timeline-sm-date">21/07/2016 - 12/05/2018</span>
        <p class="status">Pending</p>
        <p>Duis ut quam nec mi bibendum finibus et id tortor. Maecenas tristique dolor enim, sed
        tristique sem cursus et. Etiam
        tempus iaculis blandit. Vivamus a justo a elit bibendum pulvinar ut non erat. Cras in purus sed leo mattis
        consequat
        viverra id arcu.</p>
        <p class="text-muted mt-2">Durandana Jolicoeur</p>
      </div>
    
      <div class="image_container">
        <img class="" src="./assets/demo/img/headers/4.png">
      </div>
    </div>
  </li>
  <li class="">
    <div class="timeline-sm-item">
    
      <div class="text_container">
        <h5 class="mt-0 mb-1">Poster illustation design</h5>
        <span class="timeline-sm-date">18/03/2018 - 28/09/2018</span>
        <p class="status">Done</p>
        <p>Duis ut quam nec mi bibendum finibus et id tortor. Maecenas tristique dolor enim, sed
        tristique sem cursus et. Etiam
        tempus iaculis blandit. Vivamus a justo a elit bibendum pulvinar ut non erat. Cras in purus sed leo mattis
        consequat
        viverra id arcu.</p>
        <p class="text-muted mt-2">Lucas Sabourinr</p>
      </div>
    
      <div class="image_container">
        <img class="" src="./assets/demo/img/headers/3.png">
      </div>
    </div>
  </li>
  <li class="">
    <div class="timeline-sm-item">
    
      <div class="text_container">
        <h5 class="mt-0 mb-1">Drinking bottle graphics</h5>
        <span class="timeline-sm-date">02/10/2017 - 07/05/2018</span>
        <p class="status">Work in Progress</p>
        <p>Duis ut quam nec mi bibendum finibus et id tortor. Maecenas tristique dolor enim, sed
        tristique sem cursus et. Etiam
        tempus iaculis blandit. Vivamus a justo a elit bibendum pulvinar ut non erat. Cras in purus sed leo mattis
        consequat
        viverra id arcu.</p>
        <p class="text-muted mt-2">Donatien Brunelle</p>
      </div>
    
      <div class="image_container">
        <img class="" src="./assets/demo/img/headers/2.png">
      </div>
    </div>
   
  </li>
</ul>