<div class="body-container">
    <div class="page col-sm-12 col-md-10 col-lg-8">
        <header class="content__title">
            <h1 class=""> Edit Experience </h1>
            <div class="actions">
                <a class="btn back_btn" [routerLink]="'/my/experiences'"><i class="fa fa-chevron-left"></i> Back</a>
            </div>
        </header>

        <div class="page-body">
            <form [formGroup]="experienceForm">
                <div class="card">
                    <div class="card-body ">
                        <div class="formItem">
                            <div class="form_header">Company</div>
                            <div class="input_container">
                                <input formControlName="organizationName" type="text" class="form-control text_input" maxlength="80" InputFloat>
                                <div class="counter_limit">
                                    <div class="row no-gutters">
                                        <round-progress class="my-auto" [ngClass]="{'warning_limit': getLength('organizationName')>=80}"
                                            [current]="getLength('organizationName')" [max]="80" [radius]="7" [stroke]="3" [rounded]="true"
                                            [clockwise]="true" [responsive]="false" [duration]="800" [animation]="'easeInOutQuart'"
                                            [animationDelay]="0">
                                        </round-progress>
                                        <p class="ml-2 my-auto">
                                            {{ 80 - getLength('organizationName') }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="formItem">
                            <div class="form_header">Job Title</div>
                            <div class="input_container">
                                <input formControlName="jobTitle" type="text" class="form-control text_input" maxlength="80" InputFloat>
                                <div class="counter_limit">
                                    <div class="row no-gutters">
                                        <round-progress class="my-auto" [ngClass]="{'warning_limit': getLength('jobTitle')>=80}"
                                            [current]="getLength('jobTitle')" [max]="80" [radius]="7" [stroke]="3" [rounded]="true"
                                            [clockwise]="true" [responsive]="false" [duration]="800" [animation]="'easeInOutQuart'"
                                            [animationDelay]="0">
                                        </round-progress>
                                        <p class="ml-2 my-auto">
                                            {{ 80 - getLength('jobTitle') }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="formItem">
                            <div class="form_header">Location</div>
                            <input formControlName="location" type="text" class="form-control text_input"  placeholder="" InputFloat>
                        </div>
                        <div class="form-group formItem">
                            <div class="form_header ">Time Period</div>
                            <div class="time_period">
                                <input placeholder="mm/dd/yyyy" class="form-control" type="text"
                                    formControlName="dateStarted" bsDatepicker>
                                <p>to</p>
                                <input placeholder="mm/dd/yyyy" class="form-control" type="text"
                                    formControlName="dateFinished" bsDatepicker>
                            </div>
                        </div>
                        <div class="form-group formItem">
                            <div class="form_header mr-1">Key Responsibilities</div>
                            <div class=" input_container">
                                <textarea formControlName="jobDescription" autosize class="form-control text_area_input"
                                    rows="10" maxlength="500"></textarea>
                                <div class="counter_limit">
                                    <div class="row no-gutters">
                                        <round-progress class="my-auto" [ngClass]="{'warning_limit': getLength('jobDescription')>=500}"
                                            [current]="getLength('jobDescription')" [max]="500" [radius]="7" [stroke]="3" [rounded]="true"
                                            [clockwise]="true" [responsive]="false" [duration]="800" [animation]="'easeInOutQuart'"
                                            [animationDelay]="0">
                                        </round-progress>
                                        <p class="ml-2 my-auto">
                                            {{ 500 - getLength('jobDescription') }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-footer">
                            <button class="btn content__background__theme" (click)="submit()" [disabled]="!experienceForm.valid">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
